@charset "utf-8";
/* CSS Document */
html, body, form, select, text, textarea, td, a, li, span, div, label {
	font-family: "微软雅黑", Verdana, Geneva, sans-serif;
	font-size: 12px;
}
html, body, form, img, ul {
	margin: 0px;
	padding: 0px;
}
table {
	border-collapse: collapse;
}
td {
	word-break: break-all;
}
a {
	text-decoration: none;
	outline-style: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-image: none;
	list-style-type: none;
}
img {
	border: 0px;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
}
