body,html{overflow:auto;}
.bottom_bg{background:#303030;color:#bcbcbc;width:100%;height:450px;}
#banner{position:relative;margin:0 auto;overflow:hidden;width:100%;height:455px;z-index:100;background-color:#303030;background-repeat:no-repeat;background-position:center center;}
#banner_click{display:block;width:100%;height:100%;}
#banner_list{}
#banner_bg {bottom:0;height:30px;position:absolute;z-index:1000;cursor:pointer;width:100%;}
#banner_info{bottom:4px;left:5px;height:22px;color:#fff;z-index:1001;position:absolute;cursor:pointer} 
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;} 
#banner ul{position:absolute;list-style-type:none;z-index:1002;margin:0; padding:0;left:45%;bottom:3px;height:35px;opacity:0.7;} 
#banner ul li:first-child{display:block;float:left;background-color:#da6f13;width:14px;height:14px;border-radius:14px;cursor:pointer; margin:0 5px;} 
#banner ul li{display:block;float:left;background-color:#656565;width:14px;height:14px;border-radius:14px;cursor:pointer;margin:0 5px;}
#banner_list a{position:absolute;}
.bottom_layout{margin:0 auto;height:150px;width:980px;border-bottom:#202020 solid 1px;padding:50px 0px 0px 0px;}
.bottom_layout.no_botline{height:100px;border-top:#646464 solid 1px;border-bottom:none;}
.bottom_con{color:#bcbcbc;float:left;clear:left;}
.bottom_con.clrnone{clear:none;}
.bottom_con ul{float:left;width:326px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.bottom_con li{font-family:"宋体";font-weight:normal;font-size:14px;line-height:35px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.bottom_con li a{color:#a2a2a2;}
.bottom_con ul li.title{font-family:"微软雅黑";font-weight:600;font-size:18px;width:225px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;margin-left:-5px;}
.bottom_con ul li span.more a{color:#3ea7bd;font-family:"宋体";font-weight:normal;font-size:12px;float:right;padding-top:3px;}
.bottom_con ul li span.check a{color:#3ea7bd;font-family:"宋体";font-weight:normal;font-size:12px;padding:3px 0px 0px 3px;}
.bottom_con ul li span.tele{font-family:"微软雅黑";font-weight:600;font-size:16px;position:relative;top:7px;}
.bottom_con.clrnone ul li>ul{font:inherit;float:left;}
.bottom_con.clrnone ul li>ul li{padding:0px 10px;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.bottom_con.clrnone ul li>ul li:nth-of-type(1){padding-left:0px}
.bottom_con.clrnone.imgspara{width:1px;height:14px;padding-top:5px;}
.bottom_con.clrnone span.date{color:#a2a2a2;font-family:"宋体";font-weight:normal;font-size:13px;}
.down_con{float:left;}
.down_con ul{width:326px;}
.down_con li{font-family:"宋体";font-weight:normal;font-size:12px;color:#969696;line-height:35px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.down_con li.title{font-family:"微软雅黑";font-weight:600;font-size:16px;margin-left:-5px;}
.down_con ul li>ul{font:inherit;}
.down_con ul li>ul li{padding:0px 2px 10px 2px;float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.down_con ul li>ul li a{color:#969696;}
.down_con ul li>ul li:nth-of-type(1){padding-left:0px}
.down_con img.imgspara{width:1px;height:14px;margin-top:10px;}
