body {
	line-height:21px;
}
.list {
	width: 940px;
	margin: 0 auto;
}
.list .list-right {
	width: 174px;
	float: right;
}
.list .list-right .list-servicetel .serviceteldown {
	background: url(../images/list/servicetelbg.jpg) no-repeat;
	margin-left: 12px;
	width: 157px;
	height: 82px;
	margin-bottom: 8px;
}
.list .list-right .list-servicetel .serviceteldown ul {
	padding-left: 4px;
	line-height: 25px;
	color: #333;
}
.list .list-right .list-servicetel .serviceteldown ul li {
	padding-left: 20px;
	font-family: arial;
	letter-spacing: -1px;
	margin-left: 3px;
}
.list .list-right .list-servicetel .serviceteldown ul .time {
	background: url(../images/list/clock.jpg) left no-repeat;
}
.list .list-right .list-servicetel .serviceteldown ul .email {
	background: url(../images/list/email.jpg) left no-repeat;
}
.list .list-right .list-servicetel .serviceteldown ul .tel {
	background: url(../images/list/tel.jpg) left no-repeat;
}
.list-onlineTel {
	margin-bottom: 8px;
}
.list-onlineTel h2 {
	background: url(../images/list/onlineh2.jpg) no-repeat;
	overflow: hidden;
	width: 174px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	font-weight: normal;
}
.list-onlineTel h2 span {
	padding-left: 12px;
	color: #d90000;
	text-decoration: underline;
}
.list-onlineTel .onlinedown {
	width: 174px;
	height: 113px;
	position: relative;
	background: url(../images/list/onlinetalk.jpg) no-repeat;
}
.list-onlineTel .onlinedown a {
	position: absolute;
	color: #fff;
	border: 1px solid #fff;
	display: block;
	top: 13px;
	left: 13px;
	width: 17px;
	text-align: center;
	line-height: 15px;
}
.list-tese-sevice h2 {
	background: url(../images/list/tesesevice.jpg) no-repeat;
	overflow: hidden;
	width: 177px;
	height: 39px;
}
.list-tese-sevice ul {
	width: 156px;
	height: 158px;
	border: 1px solid #d5d5d5;
	border-top: none;
	margin-left: 12px;
}
.list-tese-sevice ul .br {
	border-right: 1px solid #d5d5d5;
}
.list-tese-sevice ul .bl {
	border-left: 1px solid #faf9f9;
}
.list-tese-sevice ul .bm {
	border-bottom: 1px solid #d5d5d5;
}
.list-tese-sevice ul .bt {
	border-top: 1px solid #faf9f9;
}
.list-tese-sevice ul li {
	height: 78px;
	width: 77px;
	float: left;
	text-align: center;
	position: relative;
}
.list-tese-sevice ul li img {
	margin-top: 8px;
}
.list-tese-sevice ul li a {
	display: block;
	position: absolute;
	width: 76px;
	text-align: center;
	bottom: 5px;
	left: 0px;
}
.list-left {
	width: 750px;
	overflow: hidden;
}
.list-left .listConnent h3 {
	height: 20px;
	background: url(../images/list/listleftbg.jpg) top left no-repeat;
	padding-left: 40px;
	padding-bottom: 3px;
	padding-top: 3px;
}
.list-left .listConnent h3.select {
	position: relative;
	cursor: pointer;
	padding-left: 45px;
	left: -5px;
	background: url(../images/list/dd.png) 1px -2px no-repeat;
	color: #f00;
}
.list-left .listConnent .bg {
	padding-left: 37px;
	padding-bottom: 8px;
	background: url(../images/list/listleftbg.jpg) left -25px no-repeat;
}
.list-left .listConnent .bg ul {
	width: 703px;
	height: 53px;
	background: url(../images/listconnontbg.jpg) no-repeat;
	overflow: hidden;
	padding-top: 16px;
	line-height: 21px;
}
.list-left .listConnent .bg ul li {
	padding: 0 10px;
}
.list-left .listConnent .bg ul a {
	float: right;
	margin-right: 10px;
	color: #f00;
}
.h2position {
	height: 37px;
	line-height: 38px;
	margin-bottom: 10px;
	color: #d6000f;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size: 20px;
	background: url(../images/bordernei2.jpg) left bottom no-repeat;
	font-weight: normal;
}
.h2position p {
	float: right;
	background: url(../images/list/iconposition.jpg) left no-repeat;
	color: #666;
	padding-left: 25px;
	font-size: 12px;
	font-weight: normal;
	font-family: '宋体';
}
.h2position p a {
	color: #666;
}
.neiyefoot {
	background: #f2f1f1;
	border-top: 1px solid #d5d5d5;
	padding-top: 8px;
	margin: 0 auto;
	text-align: center;
}
.neiyefoot p {
	line-height: 24px;
	color: #9a9b9b;
}
.neiyefoot p a {
	color: #9a9b9b;
}
.article {
	width: 940px;
	margin: 0 auto;
}
.article .articleRight {
	width: 257px;
	float: right;
}
.article .articleRight .ad {
	height: 161px;
	background: #eee;
	border: 1px solid #d5d5d5;
}
.article .articleRight .newtop {
	height: 7px;
	background: url(../images/article/rightdivtop.jpg) no-repeat;
	overflow: hidden;
}
.article .articleRight .newbottom {
	height: 7px;
	background: url(../images/article/rightdivbottom.jpg) no-repeat;
	overflow: hidden;
}
.article .articleRight .news {
	background: url(../images/article/repeaty.jpg) repeat-y;
}
.article .articleRight .news .pos {
	padding: 8px 14px;
	padding-bottom: 0px;
}
.article .articleRight .news h2 {
	color: #333333;
	height: 26px;
	background: url(../images/border2px.jpg) -72px bottom no-repeat;
	font-size: 16px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
}
.article .articleRight .news h2 a {
	color: #f00;
	float: right;
	font-size: 12px;
	position: relative;
	top: 3px;
	font-family: '宋体';
}
.article .articleRight .news ul li {
	height: 49px;
	border-bottom: 1px dotted #d5d5d5;
	line-height:16px;
}
.article .articleRight .news ul li a {
	background: url(../images/article/block.jpg) left no-repeat;
	padding-left: 11px;
	color: #666;
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 5px;
}
.article .articleRight .news ul li span {
	padding-left: 11px;
	color: #888;
	font-family: arial;
}
.article .articleRight .img1 {
	background: url(../images/article/img1.jpg);
	height: 6px;
	margin: 8px 0;
}
.article .articleLeft {
	width: 669px;
}
.article .articleLeft .pos {
	padding: 24px;
	padding-top: 16px;
}
.article .articleLeft .articletop {
	height: 8px;
	background: url(../images/article/articlebgtop.jpg) no-repeat;
	overflow: hidden;
}
.article .articleLeft .articlebottom {
	height: 8px;
	background: url(../images/article/articlebgbottom.jpg) no-repeat;
	overflow: hidden;
}
.article .articleLeft .articleConnent {
	background: url(../images/article/articlerepeat.jpg) repeat-y;
}
.article .articleLeft .articleConnent h1 {
	color: #333333;
	font-size: 24px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
	margin-bottom:10px;
}
.article .articleLeft .articleConnent .h1down {
	color: #7a7a7a;
	height: 27px;
	border-bottom: 1px dotted #d5d5d5;
	font-family: arial;
}
.article .articleLeft .articleConnent .share {
	margin-top: 5px;
	text-align: right;
	margin-bottom: 10px;
}
.article .articleLeft .articleConnent p {
	line-height: 25px;
	margin-bottom: 8px;
	color: #333333;
	font-size: 14px;
}
.article .articleLeft .articleConnent p span {
	font-weight: bold;
}
.iframe {
	width: 943px;
	margin: 0 auto;
	margin-top: 10px;
}
.iframe .iframeRight {
	width: 758px;
	float: right;
}
.iframe .iframeRight .h2position {
	line-height: 28px;
	height: 32px;
}
.iframe .iframeRight .iframeTopBg {
	overflow: hidden;
	background: url(../images/iframe/topbg.jpg) no-repeat;
	height: 8px;
}
.iframe .iframeRight .iframeRepeat {
	background: url(../images/iframe/bgrepeat.jpg) repeat-y;
	min-height: 100px;
	padding: 10px;
	padding-top: 0px;
}
.iframe .iframeRight .iframeBottomBg {
	overflow: hidden;
	background: url(../images/iframe/bottombg.jpg) no-repeat;
	height: 8px;
}
.iframe .iframeleft {
	width: 174px;
	_float: left;
}
.iframe .iframeleft .navleft h2 {
	position: relative;
	z-index: 2;
	background: url(../images/iframe/sevice.jpg) no-repeat;
	height: 39px;
}
.iframe .iframeleft .navleft ul {
	padding-top: 10px;
}
.iframe .iframeleft .navleft ul li {
	height: 40px;
	line-height: 40px;
	padding-left: 26px;
	border-bottom: 1px dotted #aaa;
}
.iframe .iframeleft .navleft ul li a {
	color: #333;
	font-size: 14px;
	padding-left: 16px;
	background: url(../images/iframe/block.jpg) left no-repeat;
}
.iframe .iframeleft .navleft ul li.select, .iframe .iframeleft .navleft ul li:hover {
	background: url(../images/iframe/navselectbg.jpg) repeat-x;
}
.iframe .iframeleft .navleft ul li.select a, .iframe .iframeleft .navleft ul li:hover a {
	color: #d6000f;
	background: url(../images/iframe/red.jpg) left 18px no-repeat;
	display: inline-block;
	border-bottom: 3px solid #f79aa2;
	height: 30px;
	position: relative;
 *top: -4px;
	_overflow: hidden;
}
.iframe .iframeleft .navbgbottom {
	height: 4px;
	width: 156px;
	left: 12px;
	top: -10px;
	position: relative;
	z-index: 1;
	background: url(../images/iframe/leftbottombg.jpg) no-repeat;
	overflow: hidden;
}
.iframe .iframeleft .border {
	width: 156px;
	left: 12px;
	top: -10px;
	position: relative;
	z-index: 1;
	background: url(../images/iframe/navleftrepeat.jpg) repeat-y;
}
.iframe .iframeleft .navleft-account h2 {
	position: relative;
	z-index: 2;
	background: url(../images/iframe/sevice.jpg) no-repeat;
	height: 39px;
}
.iframe .iframeleft .navleft-account ul {
	padding-top: 10px;
}
.iframe .iframeleft .navleft-account ul li {
	height: 40px;
	line-height: 40px;
	padding-left: 26px;
	border-bottom: 1px dotted #aaa;
}
.iframe .iframeleft .navleft-account ul li a {
	color: #333;
	font-size: 14px;
	padding-left: 16px;
	background: url(../images/iframe/block.jpg) left no-repeat;
}
.iframe .iframeleft .navleft-account ul li.select, .iframe .iframeleft .navleft-account ul li:hover {
	background: url(../images/iframe/navselectbg.jpg) repeat-y;
	height: auto;
	_height: 100px;
	_width: 130px;
	overflow: hidden;
}
.iframe .iframeleft .navleft-account ul li.select span, .iframe .iframeleft .navleft-account ul li:hover span {
	display: block;
	line-height: 21px;
	position: relative;
	width: 144px;
	left: -20px;
	top: -5px;
	_top: 0px;
	border-top: 1px solid #ddd;
	padding-top: 3px;
	margin-top: 3px;
}
.iframe .iframeleft .navleft-account ul li.select a, .iframe .iframeleft .navleft-account ul li:hover a {
	color: #d6000f;
	background: url(../images/iframe/red.jpg) left 18px no-repeat;
	display: inline-block;
	border-bottom: 3px solid #f79aa2;
	height: 30px;
	position: relative;
 *top: -4px;
	_overflow: hidden;
}
.videobg {
	background: url(../images/video/newtop1.jpg) top center no-repeat;
}
.videobannerbg {
	background: url(../images/video/banner.jpg) top center no-repeat;
	height: 315px;
}
.videocontent {
	width: 943px;
	margin: 0 auto;
}
.videocontent .videocontentRight {
	width: 305px;
	float: right;
	overflow: hidden;
}
.videocontent .videocontentRight .zhuchiren {
	margin-bottom: 20px;
}
.videocontent .videocontentRight .zhuchiren h2 {
	color: #333333;
	height: 26px;
	background: url(../images/border2px.jpg) -55px bottom no-repeat;
	font-size: 16px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
	margin-bottom: 9px;
}
.videocontent .videocontentRight .zhuchiren h2 a {
	color: #f00;
	float: right;
	font-size: 12px;
	position: relative;
	top: 3px;
	font-family: '宋体';
}
.videocontent .videocontentRight .zhuchirenDown {
	background: url(../images/video/img1.png) 0 0 no-repeat;
	width: 305px;
	height: 132px;
	margin-top: 4px;
}
.videocontent .videocontentRight .zhuchirenDown ul {
	padding-left: 8px;
	padding-top: 9px;
}
.videocontent .videocontentRight .zhuchirenDown ul ol {
	float: left;
}
.videocontent .videocontentRight .zhuchirenDown ul ol img {
	border: 1px solid #999;
	width: 101px;
	height: 111px;
}
.videocontent .videocontentRight .zhuchirenDown ul li {
	margin-left: 115px;
	padding-right:10px;
	line-height: 21px;
	color: #666;
}
.videocontent .videocontentRight .zhuchirenDown ul .fb {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	margin-bottom: 8px;
}
.videocontent .videocontentLeft {
	width: 623px;
	_float: left;
}
.videocontent .videocontentLeft .videoNav {
	height: 28px;
}
.videocontent .videocontentLeft .videoNav ul {
	padding-left: 10px;
}
.videocontent .videocontentLeft .videoNav ul li {
	float: left;
	color: #333;
	margin-left: 5px;
	font-size: 14px;
	cursor: pointer;
	background: url(../images/video/img1.png) 0 -576px no-repeat;
	width: 90px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.videocontent .videocontentLeft .videoNav ul li.select {
	color: #fff;
	background: url(../images/video/img1.png) 0 -430px no-repeat;
}
.videocontent .videocontentLeft .videoTopbg {
	background: url(../images/video/img1.png) 0 -238px no-repeat;
	height: 7px;
	overflow: hidden;
}
.videocontent .videocontentLeft .videoBottombg {
	background: url(../images/video/bgbottom.jpg) no-repeat;
	height: 7px;
	overflow: hidden;
}
.videocontent .videocontentLeft .videoContent {
	background: url(../images/video/bgcenter.jpg) repeat-y;
	height: 614px;
	overflow: hidden;
}
.videocontent .videocontentLeft .videoContent .list {
	width: 170px;
	float: left;
	margin-left: 28px;
	margin-bottom: 20px;
	height: 155px;
}
.videocontent .videocontentLeft .videoContent .list ul ol {
	width: 170px;
	height: 121px;
	position: relative;
	overflow: hidden;
}
.videocontent .videocontentLeft .videoContent .list ul ol img {
	width: 170px;
	height: 121px;
}
.videocontent .videocontentLeft .videoContent .list ul ol strong {
	display: inline-block;
	width: 40px;
	height: 18px;
	position: absolute;
	background: url(../images/video/img1.png) 0 -508px;
	top: 0px;
	left: 0px;
}
.videocontent .videocontentLeft .videoContent .list ul ol span {
	display: block;
	position: absolute;
	background: #333;
	width: 170px;
	height: 24px;
	bottom: 0px;
	left: 0px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.videocontent .videocontentLeft .videoContent .list ul ol em a {
	position: absolute;
	bottom: 4px;
	left: 5px;
	padding-left: 24px;
	color: #fff;
	font-size: 12px;
	background: url(../images/video/img1.png) 0 -364px;
}
.videocontent .videocontentLeft .videoContent .list ul ol span a {
	color: #fff;
}
.videocontent .videocontentLeft .videoContent .list li {
	line-height: 21px;
}
.videocontent .videocontentLeft .videoContent .list li.people {
	margin-top: 4px;
/*	background: url(../images/video/img1.png) 0 -651px no-repeat;
	padding-left: 20px;*/
	color: #333;
}
.videocontent .videocontentLeft .videoContent .list li.time {
	font-family: arial;
	background: url(../images/video/img1.png) 0 -293px;
	padding-left: 30px;
	color: #999;
}
.videoDetail {
	width: 943px;
	margin: 0 auto;
}
.videoDetail .videoDetailRight {
	width: 218px;
	float: right;
	overflow: hidden;
	background: #f2f1f1;
}
.videoDetail .videoDetailRight h2 {
	color: #333333;
	height: 26px;
	background: url(../images/border2px.jpg) -73px bottom no-repeat #f9f9f9;
	font-size: 16px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
	margin-bottom: 5px;
	padding-top: 12px;
}
.videoDetail .videoDetailRight h2 span {
	background: url(../images/video/new.jpg) right no-repeat;
	padding-right: 34px;
}
.videoDetail .videoDetailRight .list {
	width: auto;
	padding-bottom: 5px;
	border-bottom: 1px dotted #666;
	margin-bottom: 5px;
}
.videoDetail .videoDetailRight .list h3 {
	background: url(../images/video/h2bg1.jpg) no-repeat;
	width: 151px;
	height: 19px;
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto;
	margin-bottom: 5px;
}
.videoDetail .videoDetailRight .list h3 span {
	font-family: arial;
	margin-right: 20px;
	margin-left: 6px;
	color: #fff;
}
.videoDetail .videoDetailRight .list ul {
	width: 170px;
	margin: 0 auto;
}
.videoDetail .videoDetailRight .list ul ol {
	width: 170px;
	height: 121px;
	position: relative;
}
.videoDetail .videoDetailRight .list ul ol img {
	width: 170px;
	height: 121px;
}
.videoDetail .videoDetailRight .list ul ol strong {
	display: inline-block;
	width: 40px;
	height: 18px;
	position: absolute;
	background: url(../images/video/img1.png) 0 -508px;
	top: 0px;
	left: 0px;
}
.videoDetail .videoDetailRight .list ul li {
	line-height: 21px;
}
.videoDetail .videoDetailRight .list ul li.people {
	margin-top: 4px;
	background: url(../images/video/img1.png) 0 -651px no-repeat;
	padding-left: 30px;
	color: #333;
}
.videoDetail .videoDetailRight .list ul li.time {
	font-family: arial;
	background: url(../images/video/img1.png) 0 -293px;
	padding-left: 30px;
	color: #999;
}
.videoDetail .videoDetailLeft {
	width: 708px;
	_float: left;
}
.videoDetail .videoDetailLeft .h2position p {
	position: relative;
	top: 4px;
}
.videoDetail .videoDetailLeft .videoDetailConTopBg {
	background: url(../images/video/videodetailtopbg.jpg);
	height: 11px;
	overflow: hidden;
}
.videoDetail .videoDetailLeft .videoDetailConBottomBg {
	background: url(../images/video/videodetailbottombg.jpg);
	height: 11px;
	overflow: hidden;
}
.videoDetail .videoDetailLeft .videoDetailRepeat {
	background: url(../images/video/videodetailcenterbg.jpg) repeat-y;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .pos {
	padding: 12px;
	padding-top: 0px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat h3 {
	color: #333333;
	height: 26px;
	background: url(../images/video/border2.jpg) 0px bottom no-repeat;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
}
.videoDetail .videoDetailLeft .videoDetailRepeat h3 span {
	padding-left: 24px;
	background: url(../images/video/img1.png) 0 -361px;
	font-size: 16px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .h3down {
	color: #333;
	height: 44px;
	line-height: 30px;
	text-align: right;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .h3down span {
	margin-left: 10px;
	color: #999;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .videoarea {
	width: 480px;
	height: 400px;
	margin: 0 auto;
	background: #333;
	margin-bottom: 20px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .share {
	text-align: center;
	margin-bottom: 30px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .shenming {
	width: 666px;
	height: 92px;
	background: url(../images/video/bg1.jpg);
	margin-bottom: 50px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .shenming h5 {
	font-size: 14px;
	color: #333;
	height: 23px;
	line-height: 23px;
	padding-left: 20px;
	margin-bottom: 10px;
	font-weight: normal;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .shenming p {
	width: 636px;
	margin: 0 auto;
	line-height: 21px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat h4 {
	font-weight: normal;
	height: 24px;
	border-bottom: 1px solid #ddd;
	color: #333;
}
.videoDetail .videoDetailLeft .videoDetailRepeat h4 p {
	float: right;
	font-size: 12px;
	line-height: 21px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat h4 p span {
	margin-left: 20px;
}
.videoDetail .videoDetailLeft .videoDetailRepeat .spxx {
	line-height: 24px;
	color: #666;
	border-top: 1px #f9f9f9 solid;
	padding-top: 15px;
	padding-bottom: 50px;
}
.iframe .iframeleft .navleft-account h1 {
	position: relative;
	z-index: 2;
	background: url(../images/iframe/kahu.jpg) no-repeat;
	height: 39px;
}
.school {
	width: 943px;
	margin: 0 auto;
}
.school .h2position {
	background: none;
}
.school .goldright {
	width: 300px;
	float: right;
}
.school .goldright .goldtable h2 {
	width: 99px;
	height: 23px;
	background: url(../images/school/img1.png);
	color: #fff;
	text-align: center;
	line-height: 23px;
	margin-left: 10px;
	font-weight: normal;
}
.school .goldright .goldtable .bg {
	background: url(../images/school/bg1.jpg);
	width: 299px;
	height: 140px;
}
.school .goldright .goldtable table {
	border-collapse: collapse;
	width: 290px;
	margin: 0 auto;
	font-size: 14px;
}
.school .goldright .goldtable table thead td {
	text-align: center;
	font-weight: bold;
	color: #333;
	height: 27px;
}
.school .goldright .goldtable table tbody {
	background: url(../images/school/aa.jpg);
	border: 1px solid #ddd;
	font-family: arial;
}
.school .goldright .goldtable table tbody td {
	height: 27px;
	text-align: right;
	padding-right: 4px;
	color: #333;
	border-right: 1px dotted #ddd;
	border-bottom: 1px solid #ddd;
}
.school .goldright .goldtable table tbody .left {
	text-align: left;
}
.school .goldright .goldtable table tbody .bg1 td {
	background: #f9f9f9;
}
.school .goldright .mt7 {
	background: url(../images/school/aa.jpg);
	height: 7px;
	margin: 5px 0;
}
.school .goldright .soft {
	margin-top: 10px;
}
.school .goldright .soft h3 {
	color: #333333;
	height: 26px;
	background: url(../images/video/border2.jpg) no-repeat scroll -105px bottom transparent;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 8px;
}
.school .goldright .soft ul li {
	float: left;
	margin-right: 9px;
	text-align: center;
	width: 140px;
}
.school .goldright .soft ul li img {
	width: 144px;
	height: 85px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.school .goldright .soft ul li a {
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size: 14px;
	color: #d90000;
	font-weight: bold;
	margin-top: 8px;
}
.school .goldleft {
	width: 628px;
	_float: left;
}
.school .goldleft .navright {
	width: 41px;
	float: right;
	border: 1px solid #ddd;
	border-left: none;
	margin-top: 8px;
}
.school .goldleft .navright ul {
	font-size: 14px;
}
.school .goldleft .navright ul li {
	width: 41px;
	height: 121px;
	background: url(../images/school/img1.png) 0 -73px;
	color: #fff;
	cursor: pointer;
}
.school .goldleft .navright ul li span {
	line-height: 18px;
}
.school .goldleft .navright ul li.select {
	background: url(../images/school/img1.png) 0 -244px;
}
.school .goldleft .navright ul .li1 {
	display: inline-block;
	width: 30px;
	background: url(../images/school/img1.png) 5px -415px no-repeat;
	padding-top: 29px;
	margin-top: 12px;
	margin-left: 7px;
}
.school .goldleft .navright ul .li2 {
	display: inline-block;
	width: 30px;
	background: url(../images/school/img1.png) 5px -525px no-repeat;
	padding-top: 29px;
	margin-top: 12px;
	margin-left: 7px;
}
.school .goldleft .navright ul .li3 {
	display: inline-block;
	width: 30px;
	background: url(../images/school/img1.png) 5px -635px no-repeat;
	padding-top: 29px;
	margin-top: 12px;
	margin-left: 7px;
}
.school .goldleft .navright ul .li4 {
	display: inline-block;
	width: 30px;
	background: url(../images/school/img1.png) 0px -745px no-repeat;
	padding-top: 29px;
	margin-top: 12px;
	margin-left: 7px;
}
.school .goldleft .goldleftL {
	width: 586px;
	_float: left;
}
.school .goldleft .goldleftL .topbg {
	background: url(../images/school/bgtop.jpg);
	height: 8px;
	overflow: hidden;
}
.school .goldleft .goldleftL .bottombg {
	background: url(../images/school/bgbottom.jpg);
	height: 8px;
	overflow: hidden;
}
.school .goldleft .goldleftL .repeatbg {
	background: url(../images/school/bgrepeat.jpg) repeat-y;
	height: 486px;
}
.school .goldleft .goldleftL .repeatbg .pos {
	padding: 10px;
}
.school .goldleft .goldleftL .repeatbg .goldleftLR {
	width: 226px;
	float: right;
	height:470px;
	border-left: 1px solid #ddd;
	padding-left: 10px;
	position: relative;
}
.school .goldleft .goldleftL .repeatbg .goldleftLR .more {
	color: #f00;
	position: absolute;
	right: 0px;
	top: 5px;
}
.school .goldleft .goldleftL .repeatbg .goldleftLR ul {
	padding-top: 25px;
}
.school .goldleft .goldleftL .repeatbg .goldleftLR ul li {
	height: 29px;
	line-height: 29px;
	border-bottom: 1px dotted #ddd;
}
.school .goldleft .goldleftL .repeatbg .goldleftLR ul li a {
	background: url(../images/iframe/block.jpg) left no-repeat;
	padding-left: 20px;
	color: #666;
}
.school .goldleft .goldleftL .repeatbg .goldleftLL {
	width: 320px;
}
.school .goldleft .goldleftL .repeatbg .goldleftLL .img {
	width: 318px;
	height: 218px;
	background: #eee;
	margin-bottom: 15px;
}
.school .goldleft .goldleftL .repeatbg .goldleftLL h3 {
	color: #333333;
	height: 26px;
	background: url(../images/video/border2.jpg) no-repeat scroll -95px bottom transparent;
	font-family:"微软雅黑";
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 8px;
}
.school .goldleft .goldleftL .repeatbg p {
	line-height: 30px;
	color: #666;
}
.newscentercontent {
	width: 943px;
	margin: 0 auto;
}
.newscentercontent h2 {
	background: url(../images/h2borderbottomcommnt.jpg) -305px bottom no-repeat;
	height: 30px;
	font-weight: normal;
	line-height: 26px;
	margin-bottom: 10px;
}
.newscentercontent h2 a {
	float: right;
	color: #f00;
	font-size: 12px;
	position: relative;
	top: 3px;
}
.newscentercontent h2 span {
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size: 20px;
}
.newscentercontent h2 em {
	margin-left: 10px;
	color: #bebebe;
	font-size: 10px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	position: relative;
	top: 1px;
}
.newscentercontent .newsright {
	width: 336px;
	float: right;
	overflow: hidden;
	border-left: 1px solid #fff;
	padding-left: 14px;
}
.newscentercontent .newsright .aaa h3 {
	margin-bottom: 5px;
}
.newscentercontent .newsright .aaa h3 span {
	display: inline-block;
	background: url(../images/newscenter/bg1.jpg);
	width: 57px;
	height: 21px;
	padding-left: 4px;
	line-height: 21px;
	color: #fff;
	font-weight: normal;
}
.newscentercontent .newsright .aaa ul {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
	height: 70px;
	color: #666;
}
.newscentercontent .newsright .aaa ul li {
	margin-bottom: 5px;
	line-height: 21px;
}
.newscentercontent .newsright .aaa ul li a {
	float: right;
	color: #f00;
	position: relative;
	top: -8px;
}
.newscentercontent .newsright .mt7 {
	background: url(../images/school/aa.jpg);
	height: 7px;
	margin: 5px 0;
}
.newscentercontent .newsright .everyday .bg {
	background: url(../images/school/aa.jpg);
	height: 128px;
	padding-top: 1px;
}
.newscentercontent .newsright .everyday .bg .border {
	width: 316px;
	height: 117px;
	margin: 0 auto;
	margin-top: 4px;
	border: 1px solid #ddd;
	background: #f7f7f7;
}
.newscentercontent .newsright .everyday .bg .border .ul1 {
	padding-left: 11px;
	padding-top: 10px;
}
.newscentercontent .newsright .everyday .bg .border .ul1 ol {
	float: left;
}
.newscentercontent .newsright .everyday .bg .border .ul1 ol img {
	width: 101px;
	height: 96px;
	border: 1px solid #aaa;
}
.newscentercontent .newsright .everyday .bg .border .ul1 li {
	margin-left: 117px;
	color: #999;
	line-height: 21px;
}
.newscentercontent .newsright .everyday .bg .border .ul1 .fb {
	color: #333;
	font-weight: bold;
	font-size: 14px;
}
.newscentercontent .newsright .everyday .bg .border .ul1 .fb span {
	display: inline-block;
	background: url(../images/newscenter/iconright.jpg) no-repeat right;
	padding-right: 30px;
}
.newscentercontent .newsright .everyday .bg .border .ul1 .red {
	margin: 5px auto 9px 117px;
	color: #f00;
}
.newscentercontent .newsright .everyday .ul2 li {
	height: 29px;
	line-height: 29px;
	border-bottom: 1px dotted #ddd;
}
.newscentercontent .newsright .everyday .ul2 li a {
	background: url(../images/iframe/block.jpg) left no-repeat;
	padding-left: 12px;
	color: #666;
}
.newscentercontent .newsright .everyday .ul2 li span {
	float: right;
	font-family: arial;
}
.newscentercontent .newsright .companyNews ul li {
	line-height: 31px;
	_height: 31px;
}
.newscentercontent .newsright .companyNews ul li span {
	display: inline-block;
	width: 19px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	background: #d6000f;
	border: 1px solid #bb010e;
	margin-right: 10px;
	color: #fff;
	font-family: arial;
}
.newscentercontent .newsright .companyNews ul li em {
	float: right;
}
.newscentercontent .newsright .companyNews ul .select {
	background: #f2f1f1;
	height: 100px;
	padding-left: 10px;
	margin-bottom: 3px;
}
.newscentercontent .newsright .companyNews ul .select dl {
	padding-top: 7px;
	padding-right: 10px;
}
.newscentercontent .newsright .companyNews ul .select dl dt {
	float: left;
}
.newscentercontent .newsright .companyNews ul .select dl dt img {
	width: 111px;
	height: 86px;
}
.newscentercontent .newsright .companyNews ul .select dl dd {
	margin-left: 121px;
	line-height: 21px;
}
.newscentercontent .newsright .companyNews ul .select dl .ml30 {
	margin-left: 151px;
	color: #999;
}
.newscentercontent .newsright .companyNews strong {
	font-weight: normal;
}
.newscentercontent .newsleft {
	width: 576px;
	padding-right: 15px;
	border-right: 1px solid #ddd;
	_float: left;
}
.newscentercontent .newsleft .newsleftR {
	width: 275px;
	border-left: 1px solid #fff;
	padding-left: 17px;
	float: right;
}
.newscentercontent .newsleft .newsleftR .hot {
	height: 180px;
}
.newscentercontent .newsleft .newsleftR .hot ul {
	padding-top: 8px;
}
.newscentercontent .newsleft .newsleftR .hot ul ol {
	width: 92px;
	height: 117px;
	border: 1px solid #ddd;
	float: left;
}
.newscentercontent .newsleft .newsleftR .hot ul ol img {
	width: 92px;
	height: 117px;
}
.newscentercontent .newsleft .newsleftR .hot ul li {
	margin-left: 108px;
	line-height: 25px;
}
.newscentercontent .newsleft .newsleftR .hot ul li a {
	background: url(../images/iframe/block.jpg) left no-repeat;
	padding-left: 12px;
	color: #666;
}
.newscentercontent .newsleft .newsleftL {
	width: 265px;
	_float: left;
	border-right: 1px solid #ddd;
	padding-right: 17px;
}
.newscentercontent .newsleft .newsleftL .headnews {
	height: 180px;
}
.newscentercontent .newsleft .newsleftL .headnews h3 {
	margin-bottom: 8px;
}
.newscentercontent .newsleft .newsleftL .headnews h3 a {
	color: #f00;
	font-weight: normal;
}
.newscentercontent .newsleft .newsleftL .headnews ul ol {
	float: left;
}
.newscentercontent .newsleft .newsleftL .headnews ul ol img {
	width: 118px;
	height: 93px;
	border: 1px solid #ddd;
}
.newscentercontent .newsleft .newsleftL .headnews ul ol span {
	display: block;
	text-align: center;
	padding-top: 8px;
}
.newscentercontent .newsleft .newsleftL .headnews ul ol span em {
	display: inline-block;
	background: url(../images/newscenter/bule.jpg);
	width: 11px;
	height: 10px;
	margin-right: 8px;
}
.newscentercontent .newsleft .newsleftL .headnews ul ol span .select {
	background: url(../images/newscenter/red.jpg);
}
.newscentercontent .newsleft .newsleftL .headnews ul li {
	margin-left: 130px;
	line-height: 21px;
	position: relative;
	top: 16px;
}
.newscentercontent .newsleft .newsleftL .headnews ul li a {
	color: #f00;
}
.newscentercontent .newsleft .mt7 {
	background: url(../images/school/aa.jpg);
	height: 7px;
	margin: 5px 0;
}
.newscentercontent .newsleft .market, .newscentercontent .newsleft .speed {
	width: 292px;
	height: 390px;
	background: url(../images/newscenter/bg.jpg);
	float: right;
}
.newscentercontent .newsleft .market .pos, .newscentercontent .newsleft .speed .pos {
	padding: 10px;
	padding-left: 14px;
	padding-top: 15px;
}
.newscentercontent .newsleft .market .pos h3, .newscentercontent .newsleft .speed .pos h3 {
	font-weight: normal;
	margin: 12px 0px;
	margin-bottom: 7px;
}
.newscentercontent .newsleft .market .pos h3 a, .newscentercontent .newsleft .speed .pos h3 a {
	color: #f00;
}
.newscentercontent .newsleft .market .pos ul li, .newscentercontent .newsleft .speed .pos ul li {
	height: 29px;
	line-height: 29px;
	border-bottom: 1px dotted #ddd;
}
.newscentercontent .newsleft .market .pos ul li a, .newscentercontent .newsleft .speed .pos ul li a {
	background: url(../images/iframe/block.jpg) left no-repeat;
	padding-left: 12px;
	color: #666;
}
.newscentercontent .newsleft .speed {
	float: none;
	background: none;
	width: 270px;
}
.newscentercontent .ad {
	height: 135px;
	border: 1px solid #ddd;
}
.windowright {
	width: 134px;
	position: fixed;
	right: 20px;
	top: 50%;
	margin-top: -145px;
}
.windowright .windowright-r {
	border: 1px solid #d1ae68;
	width: 126px;
	float: right;
	background: url(../images/windowrightbg.jpg) top repeat-x;
}
.windowright dl {
	width: 114px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 2px;
}
.windowright dl dt {
	margin-bottom: 5px;
	border: 1px solid #d1ae68;
	width: 112px;
	height: 82px;
	margin-bottom: 5px;
}
.windowright dl dt img {
	width: 112px;
	height: 82px;
}
.windowright ul li {
	border-top: 1px solid #d1ae68;
}
.windowright .windowsanjiao {
	float: left;
	position: absolute;
	top: 50%;
	left: -10px;
	width: 0;
	height: 0;
	line-height: 0;
	border: 8px solid transparent;
	_border: 8px solid #fff;
	border-right-color: #d1ae68;
}
.fan-downtitle {
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size:16px;
	color:#616c71;
	background:url(../images/Fdown_5.jpg) repeat-x 0 bottom;
	padding:0 0 3px 5px;
}
.fan-downul {
	overflow:hidden;
	padding:20px 0;
	_height:1%;
}
.fan-downul dl {
	display:inline;
	float:left;
	width:340px;
	padding:10px 0 15px 28px;
	_height:1%;
}
.fan-downul dt {
	float:left;
	width:120px;
	height:85px;
}
.fan-downul dt img {
	width:120px;
	height:85px;
	display:block;
}
.fan-downul dd {
	width:200px;
	float:right;
	font-size:14px;
	padding-top:10px;
}
.fan-downul dd h4 {
	color:#000;
	background:url(../images/Fdown_2.jpg) no-repeat 0 center;
	padding-left:25px;
}
.fan-downul dd .psize {
	font-size:12px;
	background:url(../images/Fdown_3.jpg) no-repeat 0 center;
	padding-left:25px;
	margin-top:13px;
}
.fan-downul dd a.downlink {
	display:block;
	background:url(../images/Fdown_4.jpg) no-repeat;
	width:121px;
	height:26px;
	text-align:center;
	padding-top:5px;
	margin-top:13px;
	line-height:20px;
}
/*------------法人开户----------------*/
.Legal-Explain {
	width:600px;
	margin:20px auto;
	position:relative;
	padding-left: 107px;
	height:155px;
}
.Legal-Explain .lefttop {
	position:absolute;
	left:0;
	top:-4px;
	background:url(../images/Legal_2.jpg) no-repeat;
	width:111px;
	height:40px;
}
.Legal-Explain .topbg {
	background:#eceff1 url(../images/Legal_3.jpg) no-repeat;
	height:7px;
	line-height:0;
	overflow:hidden;
}
.Legal-Explain .bottombg {
	background:url(../images/Legal_1.jpg) no-repeat;
	_background:url(../images/Legal_1.jpg) no-repeat 2px 0;
	height:7px;
	line-height:0;
	overflow:hidden;
}
.Legal-Explain .textinfo {
	border-right:1px solid #afafaf;
	border-left:1px solid #afafaf;
	background:#eceff1;
	padding:10px 10px 15px;
	line-height:1.8;
	color:#666666;
	text-shadow:1px 1px #fff;
}
.Legal-Explain .textinfo p {
	color:#333;
}
.Legal-Explain .textinfo strong {
	font-size:14px;
}
.Legal-listdl dl {
	padding-top:10px;
	overflow:hidden;
	clear:both;
	font-size:14px;
	_height:1%;
}
.Legal-listdl dt {
	float:left;
	width:40px;
	font-size:26px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight:900;
	font-style:italic;
	color:#515567;
	line-height:1.5;
	padding-left:25px;
	color:#515567;
}
.Legal-listdl .dtthree {
	color:#d6000f;
}
.Legal-listdl dd {
	width:665px;
	float:right;
	padding-top:5px;
}
/*-----------------金策内参--------------------*/
.reference-text {
	background:url(../images/reference-1.jpg) no-repeat 470px 100px;
	padding:100px 220px 50px 40px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size:14px;
}
.reference-text .p-text {
	width:330px;
	padding-bottom:10px;
}
/*----------------呼叫中心---------------*/
.callcenter-service {
	background:url(../images/Callcenter-1.jpg) no-repeat center 60px;
	height:346px;
	padding:100px 20px 50px 495px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size:14px;
	text-shadow:1px 1px #fff;
}
.callcenter-service .p-two {
	padding-top:40px;
	padding-left:15px;
}
/*--------------------------投诉建议----------------------------*/
.iframe .iframeRight .iframeRepeat2 {
	background: url(../images/iframe/bgrepeat.jpg) repeat-y;
	min-height: 100px;
	padding:5px 1px 0;
	_height:1%;
}
.iframe .iframeRight .iframeBottomBg2 {
	overflow: hidden;
	background: url(../images/Feedback-3.jpg) no-repeat;
	height: 8px;
}
.Complaints-email {
	background:url(../images/Feedback-1.jpg) no-repeat;
	height:211px;
	padding:110px 30px 0 280px;
	color:#666;
}
.Complaints-email a {
	display:block;
	width:200px;
	height:40px;
	margin:90px 0 0 50px;
	overflow:hidden;
	line-height:40em;
}
.Complaints-bottom {
	background:url(../images/Feedback-2.jpg) no-repeat;
	height:260px;
}
/*----------------------直播服务----------------*/
.live-divfour {
	background:url(../images/fan-live-1.jpg) no-repeat;
	width:490px;
	margin:50px auto;
	position:relative;
	padding:20px 40px 0 100px;
	height:400px;
	color:#666;
}
.live-divfour strong {
	display:block;
	font-size:14px;
	color:#484b50;
}
.live-divfour .divone {
	width:200px;
}
.live-divfour .divtwo {
	position:absolute;
	left:440px;
	top:85px;
	width:200px;
}
.live-divfour .divthree {
	position:absolute;
	left:100px;
	top:285px;
	width:200px;
}
.live-divfour .divfour {
	position:absolute;
	left:440px;
	top:345px;
	width:200px;
}
.windowright {
	width: 134px;
	position: fixed;
	right: 20px;
	top: 50%;
	margin-top: -145px;
}
.windowright .windowright-r {
	border: 1px solid #d1ae68;
	width: 126px;
	float: right;
	background: url(../images/windowrightbg.jpg) top repeat-x;
}
.windowright dl {
	width: 114px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 2px;
}
.windowright dl dt {
	margin-bottom: 5px;
	border: 1px solid #d1ae68;
	width: 112px;
	height: 82px;
	margin-bottom: 5px;
}
.windowright dl dt img {
	width: 112px;
	height: 82px;
}
.windowright ul li {
	border-top: 1px solid #d1ae68;
}
.windowright .windowsanjiao {
	float: left;
	position: absolute;
	top: 50%;
	left: -10px;
	width: 0;
	height: 0;
	line-height: 0;
	border: 8px solid transparent;
	_border: 8px solid #fff;
	border-right-color: #d1ae68;
}
/*------------预约开户----------------*/
.account-divform {
	overflow:hidden;
	clear:both;
	padding:20px 0 0 140px;
}
.account-divfour {
	background:url(../images/TradingRules-15.jpg) no-repeat;
	width:450px;
	margin:30px auto;
	position:relative;
	padding:20px 60px 0 120px;
	height:330px;
	color:#666;
}
.account-divfour strong {
	display:block;
	font-size:14px;
	color:#484b50;
}
.account-divfour .lione {
	position:absolute;
	width:190px;
}
.account-divfour .litwo {
	position:absolute;
	width:158px;
	right:70px;
	top:48px;
}
.account-divfour .lithree {
	position:absolute;
	width:190px;
	left:120px;
	top:220px;
}
.account-divfour .lifour {
	position:absolute;
	width:158px;
	right:70px;
	top:280px;
}
/*------------预约报告会-----------*/
.reportwill-text {
	background:url(../images/TradingRules-8.jpg) no-repeat;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	color:#666;
	padding-left:256px;
	padding-top:84px;
	padding-right:42px;
	padding-bottom:30px;
	margin:10px 15px;
	text-shadow:1px 1px #fff;
	line-height:1.8;
}
.reportwill-text p {
	color:#f19a1c;
	text-indent:2em;
	padding-top:3px;
}
.reportwill-form, .reportwill-formb {
	width:689px;
	margin:0 auto;
	overflow:hidden;
	background:#eee url(../images/TradingRules-13.jpg) no-repeat 0 top;
	height:5px;
	overflow:hidden;
}
.reportwill-formb {
	background:#eee url(../images/TradingRules-12.jpg) no-repeat 0 top;
	height:6px;
}
.reportwill-middle {
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	width:550px;
	margin:0 auto;
	overflow:hidden;
	background:#eee url(../images/TradingRules-9.jpg) no-repeat center 6px;
	padding-top:45px;
	padding-left:137px;
	font-size:14px;
}
.reportwill-inputul {
	float:left;
	width:320px;
	font-size:14px;
}
.reportwill-inputul li {
	display:inline-block;
	clear:both;
	padding:6px 0;
}
.reportwill-inputul span {
	float:left;
}
.reportwill-inputul .input-w, .reportwill-inputul .input-w2 {
	height:22px;
	width:200px;
	border:1px solid #d5d5d5;
	padding:1px 5px;
	float:left;
	line-height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.reportwill-inputul .input-w:hover, .reportwill-inputul .input-w2:hover {
	border:1px solid #999;
}
.reportwill-inputul .input-w2 {
	width:110px;
}
.reportwill-inputul .input-w3 {
	background:url(../images/TradingRules-11.jpg) no-repeat;
	width:82px;
	height:32px;
	margin-left:10px;
	cursor:pointer;
	overflow:hidden;
	line-height:32em;
	text-indent:-999em;
 *text-indent:0;
}
.reportwill-btn {
	float:left;
	padding:30px 0 0;
}
.reportwill-btn input {
	background:url(../images/TradingRules-10.jpg) no-repeat;
	width:125px;
	height:59px;
	cursor:pointer;
	overflow:hidden;
	line-height:32em;
	text-indent:-999em;
 *text-indent:0;
}
.reportwill-btn input:hover {
	background:url(../images/TradingRules-10hover.jpg) no-repeat;
}
.reportwill-Team {
	overflow:hidden;
	padding:15px 0 0 15px;
}
.reportwill-Team li {
	width:124px;
	float:left;
	text-align:center;
	padding-left:15px;
}
.reportwill-Team li img {
	display:block;
	margin-bottom:4px;
	width:122px;
	height:154px;
	border:1px solid #fff;
	box-shadow:2px 2px 6px #dfdfdf;
}
.reportwill-Team li img:hover {
	border:1px solid #999;
}
/*---------------什么是黄金TD？------------*/
.goldtd2-ask {
	width:648px;
	margin:30px auto 0;
	overflow:hidden;
	clear:both;
}
.goldtd2-ask dt {
	float:left;
	width:110px;
	height:94px;
}
.goldtd2-ask dt img {
	display:block;
}
.goldtd2-ask dd {
	width:522px;
	float:right;
	position:relative;
}
.goldtd2-ask .dd-top {
	background:url(../images/TradingRules-6.jpg) no-repeat;
	height:6px;
	line-height:0;
	overflow:hidden;
}
.goldtd2-ask .dd-bottom {
	background:url(../images/TradingRules-7.jpg) no-repeat;
	height:6px;
	line-height:0;
}
.goldtd2-ask .dd-middle {
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	padding:30px 50px;
	font-size:14px;
	font-weight:900;
	background:#eee;
	line-height:24px;
}
.goldtd2-ask .dd-jiao {
	position:absolute;
	left:-9px;
	top:40px;
	width:10px;
	height:19px;
	background:#eee url(../images/TradingRules-3.jpg) no-repeat 0 center;
}
.goldtd2-Answer {
	width:648px;
	margin:15px auto 30px;
	overflow:hidden;
	clear:both;
}
.goldtd2-Answer dt {
	float:right;
	width:110px;
	height:94px;
}
.goldtd2-Answer dt img {
	display:block;
}
.goldtd2-Answer dd {
	width:522px;
	float:left;
	position:relative;
}
.goldtd2-Answer .dd-top {
	background:url(../images/TradingRules-6.jpg) no-repeat;
	height:6px;
	line-height:0;
	overflow:hidden;
}
.goldtd2-Answer .dd-bottom {
	background:url(../images/TradingRules-7.jpg) no-repeat;
	height:6px;
	line-height:0;
}
.goldtd2-Answer .dd-middle {
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	padding:0 10px;
	background:#eee;
	height:86px;
	text-shadow:1px 1px #fff;
}
.goldtd2-Answer .dd-jiao {
	position:absolute;
	right:-9px;
	top:40px;
	width:10px;
	height:19px;
	background:#eee url(../images/TradingRules-5.jpg) no-repeat right center;
}
.goldtd2-table {
	border-collapse:collapse;
	table-layout:fixed;
}
.goldtd2-table th {
	background:#edecec;
	font-size:14px;
	padding:2px 0 2px 20px;
	text-align:left;
}
.goldtd2-table td {
	padding:10px 20px;
	color:#666
}
.goldtd2-table p {
	text-indent:2em;
	padding:3px 0;
}
.goldtd2-table td strong {
	color:#333;
}
.goldtd2-table .tdline {
	border-right:1px solid #d5d5d5
}
/*-------------黄金TD优势-----------*/
.goldtd-pt {
	padding:10px;
	text-align:center;
}
.goldtd-li li {
	border-bottom:1px solid #d5d5d5;
	border-top:1px solid #fff;
	background:url(../images/td_2.png) no-repeat 0 50%;
	padding:5px 10px 10px 60px;
	color:#666;
}
.goldtd-li li p {
	font-weight:900;
	font-size:14px;
	color:#333;
	padding-bottom:2px;
}
.goldtd-li .lione {
	border-top:0;
}
.goldtd-li .litwo {
	background:url(../images/td_2-1.png) no-repeat 0 50%;
}
.goldtd-li .lithree {
	background:url(../images/td_2-2.png) no-repeat 0 50%;
}
.goldtd-li .lifour {
	background:url(../images/td_2-3.png) no-repeat 0 50%;
}
.goldtd-li .lifive {
	background:url(../images/td_2-4.png) no-repeat 0 50%;
	border-bottom:0;
}
/*-----------------服务体系--------------------*/

.Servicetitle {
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size:16px;
	color:#616c71;
	background:url(../images/Fdown_5.jpg) repeat-x 0 bottom;
	padding:3px 0 2px 5px;
	overflow:hidden;
	line-height:26px;
}
.Servicetitle .Service-one, .Servicetitle .Service-two {
	background:url(../images/Fservice-1.jpg) no-repeat;
	padding-left:30px;
	height:30px;
	display:block;
	float:left;
}
.Servicetitle .Service-two {
	background:url(../images/Fservice-2.jpg) no-repeat;
}
.Service-textone {
	padding:10px 20px 60px;
	color:#666;
	text-indent:0;
}
/*--------------------培训预约----------------------*/
.training-reserve {
	background:url(../images/Train-2.jpg) no-repeat center 70px;
	height:360px;
	padding-bottom:10px
}
.training-reserve .p-text {
	padding:10px 0 0 50px;
	line-height:1.4;
}
.training-reserve .p-text h5 {
	color:#9b0500;
	font-size:28px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight:100;
}
.training-reserve .p-text .p-two {
	font-size:14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	width:430px;
}
.training-reserve .p-btn {
	padding:195px 0 0 338px;
}
.training-imgtop, .training-imgbottom {
	background:url(../images/Train-6.jpg) no-repeat center 0;
	height:7px;
	line-height:0;
	overflow:hidden;
}
.training-imgmiddle {
	width:722px;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	padding:5px;
	background:#dcdcdc;
	margin:0 auto;
	overflow:hidden;
	clear:both;
}
.training-imgbottom {
	background:url(../images/Train-7.jpg) no-repeat center 0;
}
.training-imgmiddle .leftarr {
	background:url(../images/Train-5.jpg) no-repeat 5px 78px;
	width:20px;
	float:left;
	height:156px;
	cursor:pointer;
	line-height:150em;
	overflow:hidden;
}
.training-imgmiddle .rightarr {
	background:url(../images/Train-4.jpg) no-repeat 5px 78px;
	width:20px;
	float:right;
	height:156px;
	cursor:pointer;
	overflow:hidden;
	line-height:150em;
}
.training-imgmiddle .ul-div {
	float:left;
	width:676px;
	padding-right:6px;
	overflow:hidden;
}
.training-imgmiddle .ul-div li {
	_display:inline;
	float:left;
	background:#fff;
	width:200px;
	padding:6px;
	position:relative;
	height:156px;
	margin-left:10px;
	border:1px solid #fff;
}
.training-imgmiddle .ul-div li img {
	width:200px;
	height:156px;
}
.training-imgmiddle .ul-div .libg {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 filter:alpha(opacity=50) -moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background:#000;
	width:200px;
	height:24px;
	top:137px;
	left:7px;
	position:absolute;
}
.training-imgmiddle .ul-div .litext {
	height:24px;
	top:137px;
	position:absolute;
	color:#fff;
	line-height:24px;
	padding-left:10px;
	width:190px;
	overflow:hidden;
	left:7px;
}
.training-imgmiddle .ul-div .litext a {
	display:block;
	color:#fff;
}
.training-imgmiddle .ul-div li:hover {
	border:1px solid #d5d5d5;
}
/*--------------------------投诉建议----------------------------*/
.iframe .iframeRight .iframeRepeat2 {
	background: url(../images/iframe/bgrepeat.jpg) repeat-y;
	min-height: 100px;
	padding:5px 1px 0;
	_height:1%;
}
.iframe .iframeRight .iframeBottomBg2 {
	overflow: hidden;
	background: url(../images/Feedback-3.jpg) no-repeat;
	height: 8px;
}
.Complaints-email {
	background:url(../images/Feedback-1.jpg) no-repeat;
	height:211px;
	padding:110px 30px 0 280px;
	color:#666;
}
.Complaints-email a {
	display:block;
	width:200px;
	height:40px;
	margin:90px 0 0 50px;
	overflow:hidden;
	line-height:40em;
}
.Complaints-bottom {
	background:url(../images/Feedback-2.jpg) no-repeat;
	height:260px;
}
/*----------------------直播服务----------------*/
.live-divfour {
	background:url(../images/fan-live-1.jpg) no-repeat;
	width:490px;
	margin:50px auto;
	position:relative;
	padding:20px 40px 0 100px;
	height:400px;
	color:#666;
}
.live-divfour strong {
	display:block;
	font-size:14px;
	color:#484b50;
}
.live-divfour .divone {
	width:200px;
}
.live-divfour .divtwo {
	position:absolute;
	left:440px;
	top:85px;
	width:200px;
}
.live-divfour .divthree {
	position:absolute;
	left:100px;
	top:285px;
	width:200px;
}
.live-divfour .divfour {
	position:absolute;
	left:440px;
	top:345px;
	width:200px;
}
/*------------------短信服务----------*/
.SMSservice-text {
	background:url(../images/SMSservice-1.jpg) no-repeat center 10px;
	height:135px;
	padding-top:395px;
	padding-left:50px;
}
.SMSservice-text .text {
	background:url(../images/Fdown_5.jpg) repeat-x;
	width:380px;
	padding-top:10px;
	color:#666;
	text-shadow:1px 1px #fff;
}
/*---------------交易规则-------------*/

.TradingRules-table {
	border-collapse:collapse;
	width:699px;
	margin:30px auto 10px;
	text-align:center;
}
.TradingRules-table td {
	border:1px solid #b5b5b5;
	padding:5px 20px;
}
.TradingRules-table .thone {
	background:url(../images/TradingRules-1.jpg) no-repeat;
	height:36px;
	width:204px;
}
.TradingRules-table .thtwo {
	background:url(../images/TradingRules-1.jpg) no-repeat -204px 0;
	height:36px;
	width:247px;
}
.TradingRules-table .ththree {
	background:url(../images/TradingRules-1.jpg) no-repeat -451px 0;
	height:36px;
	width:249px;
}
.TradingRules-table .tr_odd {
	background:#fff;
}
.TradingRules-table .tr_even {
	background:#fff6ce;
}
.TradingRules-table .over {
	background:#f3f3f3;
	color:#f00;
}
/*--------------模板页---------------*/
.fan-Templatetitle {
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size:16px;
	color:#616c71;
	background:url(../images/Fdown_5.jpg) repeat-x 0 bottom;
	padding:0 0 3px 5px;
}
.fan-Templatetitle img {
	padding-right:6px;
	vertical-align:middle;
}
.fan-Templatecenter {
	text-align:center;
	padding:30px 0;
}
.fan-Templatetext {
	padding:15px 30px 30px;
	color:#666666;
	line-height:1.9;
}
.fan-Templatetext p {
	text-indent:2em;
}
/*-------------------------zhineng-------*/
.fan-listrighth2 {
	background: url(../images/h2borderbottomcommnt.jpg) -305px bottom no-repeat;
	height: 30px;
	font-weight: normal;
	line-height: 26px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-size:16px;
	padding-left:15px;
}
.fan-listright {
	border:1px solid #d9d9d9;
	overflow:hidden;
	border-radius:5px;
}
.fan-listright ul {
	padding:5px 0 5px 10px;
	overflow:hidden;
}
.fan-listright li {
	width:70px;
	float:left;
	padding:5px;
	text-align:center;
	overflow:hidden;
	height:105px;
}
.fan-listright li img {
	display:block;
	width:60px;
	height:80px;
	padding-bottom:5px;
}
.fan-listpersonal {
	width:120px;
	margin:0 auto;
	padding:15px 0 5px;
	text-align:center;
}
.fan-listpersonal img{ display:block; padding-bottom:5px;}
.fan-listpersonalinfo{ padding:0 10px 10px;}
.videocontent .videocontentLeft .videoNav ul li a{color:#fff}
.videocontent .videocontentLeft .videoNav ul li.select a{color:#fff}
.jobs .rencai {
  line-height: 24px;
}
.jobs .gangwei {
  padding-top: 50px;
}
.jobs .gangwei-right {
  width: 435px;
  float: right;
  overflow: hidden;
}
.jobs .gangwei-right dl {
  margin-bottom: 30px;
}
.jobs .gangwei-right dl dt {
  color: #fc550c;
  font-size: 18px;
  margin-bottom: 10px;
}
.jobs .gangwei-right dl dd {
  line-height: 24px;
  padding-right: 50px;
}
.jobs .gangwei-right .gangweidiv {
  display: none;
}
.jobs .gangwei-left {
  width: 160px;
  overflow: overflow: hidden;
}
.jobs .gangwei-left span {
  color: #666;
  font-weight: bold;
}
.jobs .gangwei-left ul {
  padding-top: 10px;
}
.jobs .gangwei-left ul li {
  background: #ddd;
  margin-bottom: 8px;
  line-height: 22px;
  text-align: right;
  cursor: pointer;
}
.jobs .gangwei-left ul li em {
  margin-right: 12px;
}
.jobs .gangwei-left dl dd {
  background: #f3f3f3;
  line-height: 22px;
  border-top: 1px solid #fff;
  padding-right: 12px;
  color: #666;
  cursor: pointer;
}
.jobs .gangwei-left dl .select {
  background: #ffb000;
  color: #fff;
}
.fulicontact ol {
    border-bottom: 2px solid #DDDDDD;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

.fulicontact li {
    line-height: 30px;
}

/*----------------8-19网上开户----------------*/
.wangshangkhwrap {width: 943px;margin: 0 auto;}
.wangshangkhwrap .h2position {background: none;}
.jyjianhangkhbut {height:51px;background:#eaeaea;margin:10px 0;padding:20px 0;text-align:center;}
.jyjianhangkhbut span {display:inline-block;line-height:50px;font-size:18px;color:#333;font-family: Microsoft YaHei, SimHei, Arial, Helvetica, sans-serif;}
.jyjianhangkhbut a {padding-left:10px;}

.part1 {width:940px;margin:0 auto;padding-top:20px;}
.part1tilte {text-align:center;padding-bottom:10px;}
.gundpic {width:912px;height:537px;position:relative;margin:10px auto;border:#eaeaea 5px solid;}
.btn {width:69px;height:114px;display:block;z-index:100;}
.btnPre {position:absolute;left:0;top:230px;background:url(../images/leftfx.png) no-repeat 0 0;}
.btnNext {position:absolute;right:0;top:230px;background:url(../images/rightfx.png) no-repeat 0 0;}
.gundongpic_wrap {width:912px;height:537px;overflow:hidden;position:absolute;left:0px;top:0px;}
.gundongpic_wrap ul {position:absolute;left:0px;top:0px;}
.gundongpic_wrap ul li{width:912px;float:left;position:relative;}
.gundongpic_wrap ul li p {width:892px;height:30px;padding:0 10px;background:url(../images/wordbg.png) repeat-x 0 0;line-height:30px;font-size:14px;font-weight:bold;color:#fff;position:absolute;left:0;top:507px;}












